<div class="p-3 container-fluid">
    
    <div class="row">
        <div class="card mt-3 mb-3 border-light col-4">
            <div class="container">
                <h3>INFORMACIÓN DEL CONTACTO</h3>

                <div class="text-center">
                    <div>
                        <p><strong>Nombre</strong></p>
                        <p>Quipux S.A.S</p>
                    </div>

                    <div>
                        <p><strong>Fecha de creación</strong></p>
                        <p>1995/05/06</p>
                    </div>

                    <div>
                        <p><strong>Dirección</strong></p>
                        <p>Carrera 43A No. 3 Sur-130

                            Ed. Milla de Oro
                            
                            Distrito de negocios Torre 1
                            
                            Piso 12 </p>
                            
                            <p>Medellín - Colombia</p>
                    </div>

                    <div>
                        <p><strong>Número de teléfonos </strong></p>
                        <p>Fijo</p>
                        <p>+57 (4) 313-70-00</p>
                        <p>Fax</p>
                        <p> +57 (4) 313-44-77</p>
                    </div>

                    <div>
                        <p><strong>Sitio Web</strong></p>
                        <p>https://www.quipux.com/site</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 right-column">
            
            <div class="card border-light">
                <app-contactinfo></app-contactinfo>

            </div>
           
        </div>
    </div>
</div>
