<div class="row container-fluid">
    <div class="col-7 p-3 left">
        <h1 class="display-3">¿Qué quieres buscar?</h1>
        <p class="mt-3">Encuentra la información que deseas consultar...</p>
        <div class="input-group mb-3 mt-5">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Todos los servicios</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            <input type="text" class="form-control custom-input" aria-label="Text input with dropdown button"
                placeholder="Que servicio quieres consultar">
            <button class="btn btn-outline-primary" type="button">Buscar</button>
        </div>
        <div class="card mt-5">
            <div class="card-body row">
                <div class="col ">
                    <h5 class="card-title mb-2">Certificado</h5>
                    <p class="card-text small">Conoce los beneficios que trenemos para ti al registrarte.</p>
                    <button class="btn btn-outline-success " type="button">Beneficios</button>
                </div>
                <div class="col ">
                    <h5 class="card-title mb-2">Crear Cuenta</h5>
                    <p class="card-text small">Conoce los beneficios que trenemos para ti al registrarte.</p>
                    <button class="btn btn-outline-success " type="button">Ver todo</button>
                </div>
                <div class="col ">
                    <h5 class="card-title mb-2">Top Trámites</h5>
                    <p class="card-text small">Conoce los beneficios que trenemos para ti al registrarte.</p>
                    <button class="btn btn-outline-success " type="button">Ver todo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col right p-5 ">
        <div>
            <img src="images/resource-1.png" alt="" class="imgResources">
        </div>
        <div class="row p-3">
            <div class="card">
                <div class="col card-body">
                    <h5 class="card-title">Trámites en tu mano</h5>
                    <p class="card-text small">Ahora podras hacer todos tus trámites desde la comodidad de tu casa,
                        desde
                        cualquier dispositivo: computadora, tablet o móvil.</p>
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>