.gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

